{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center">Detail</h1>
  <hr>
  <h3>{{ article.pk }}번 글 - {{ article.title }}</h3>
  <p>내용: {{ article.content }}</p>
  <p>작성: {{ article.created_at }}</p>
  <p>수정: {{ article.updated_at }}</p>
  <hr>
  <a href="{% url 'articles:update' article.pk %}">EDIT</a>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-link" style="text-decoration: none">DELETE</button>
  </form>
  <a href="{% url 'articles:index' %}">BACK</a>
{% endblock content %}