{% extends 'base.html' %}

{% block content %}
  <h1>CREATE</h1>
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
  </form>
  <hr>

  <form action="" method="POST">
    {% csrf_token %}
    <div>
    {{ form.title.errors }}
    {{ form.title.label_tag }}
    {{ form.title }}}
    </div>
    <div>
    {{ form.content.errors }}
    {{ form.content.label_tag }}
    {{ form.content }}}
    </div>
    <input type="submit">
  </form>
  <hr>

  <form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
      {{ field.errors }}
      {{ field.label_tag }}
      {{ field }}
    {% endfor %}
    <input type="submit">
  </form>
  <hr>

  <h2>Bootstrap Form</h2>
  <!--forms.py에서 form-control 추가했더니 부트스트랩 형식으로 변경됨-->
  <hr>

  <form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
      {% if field.errors %}   <!--error가 있을 때 나옴-->
        {% for error in field.errors %}
            <div class="alert alert-warning" role="alert"><strong>{{ error|escape }}</strong></div>
        {% endfor %}
      {% endif %}
      {{ field.label_tag }}
      {{ field }}
    {% endfor %}
    <input type="submit">
  </form>
  <hr>



  <a href="{% url 'articles:index' %}">[back]</a>
{% endblock %}
