{% extends 'base.html' %}
{% block content %}

  {% comment %} <h1>Google</h1>
  <!--form 태그-->
  <form action="https://www.google.com/search" method="GET">
    <input type="text" name="q"> <!--q라는 이름으로 주고 받으니까 있어야함 / 사용자 입력을 q라는 이름을 붙여서 넘겨줌-->
    <input type="submit" value="구글검색">
  </form> {% endcomment %}

  <h1>Google</h1>
  <!--form 태그-->
  <form action="https://www.google.com/search?{{q}}" method="GET">
    <input type="text" name="q"> <!--q라는 이름으로 주고 받으니까 있어야함 / 사용자 입력을 q라는 이름을 붙여서 넘겨줌-->
    <input type="submit">
  </form>
{% endblock content %}



