{% extends 'base.html' %}
{% block content %}
  <h1 class="text-center">DETAIL</h1>
  <p>제목 : {{ review.title }}</p>
  <p>영화제목 : {{ review.movie_title }}</p>
  <p>영화순위 : {{ review.rank }}</p>
  <p>내용 : {{ review.content }}</p>
  <p>생성일 : {{ review.created_at }}</p>
  <p>수정일 : {{ review.updated_at }}</p>

  <a href="{% url 'community:index' %}" class="btn btn-warning">Back</a>
  
  <h3 class="text-center">댓글작성</h3>
  <form action="{% url 'community:comments_create' review.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="댓글작성" class="btn btn-primary">
  </form>
  <hr>

  <h3 class="text-center">댓글목록</h3>
  {% for comment in comments %}
    {{ comment.content }}<br>
    <hr>
  
  {% endfor %}
  


{% endblock content %}




