{% extends 'base.html' %}
{% block content %}
  <h1 class="text-center">Edit Article</h1>
  <hr>
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} 제목 : <input type="text" name="title" value="{{ article.title }}"><br>
    내용 : <textarea name="content" id="" cols="30" rows="10">{{ article.content }}</textarea><br> {% endcomment %}
    
    <input type="submit" value="글 작성">
  </form>
  <a href="{% url 'articles:detail' article.pk %}">BACK</a>
{% endblock content %}

