{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center">EDIT</h1>
  <div class="container p-5">
    <form action="{% url 'movies:update' movie.pk %}" method="POST" class="d-flex flex-column">
      {% csrf_token %}
      <label for="title">Title :</label>
      <input type="text" name="title" id="title" value={{ movie.title }}><br>
      <label for="overview">Overview :</label>
      <textarea name="overview" id="overview" cols="30" rows="10">{{ movie.overview }}</textarea>
      <label for="poster_path">Poster path :</label>
      <input type="text" name="poster_path" id="poster_path" value={{ movie.poster_path }}><br>
      <input type="submit" value="수정">
    </form>
    <div class="d-flex justify-content-end mt-2">
      <a href="{% url 'movies:detail' movie.pk %}">
        <button class="px-3">BACK</button>
      </a>
    </div>
  </div>
{% endblock content %}