* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

p {
  font-family: Arial;
}

.container {
  width: 1000px;
  margin: 30px auto;
}

/*아래부터 작성*/
.card {
  display: flex;
  /* 여기까지 하면 메인축이 좌>우로 되어있어서 적어놓은 내용들이 위로 올라와서 붙어버림. 따라서 메인축이 column으로 되어야함 */
  flex-direction: column;
  width: 700px;
  border: 2px dashed black;
  /* nav랑 footer는 아래, 위에 붙어야하니까 */
  /* 축이 바뀌었지만 여러줄 정렬이니까 content */
  justify-content: space-between;
  /* margin해서 가운데에서 보려고 container를 만들어 놓은 것!!! 좌우 가운데로 !아하 */
  margin: 0 auto;
}

.card-nav {
  /* 오늘의 명소의 부모는 card-nav이다. 근데 지금까지는 card에 flex container를 했기 때문에  */
  display: flex;
  /* 메인축이 가로이니까 이렇게 하면됨. 기본값이 가로 */
  justify-content: center;
  background-color: green;
}

.card-header {
  padding: 18px;
}

.card-header-img {
  width: 100%;
  height: 330px;
  display: block;
}

.card-header-description {
  /*가운데 정렬해야해*/
  display: flex;
  /*방향이 왼쪽에서 오른쪽이니까 위까지 하면 글자들이 오른쪽으로 붙어버림. 따라서 column으로 메인축을 정렬해준다.*/
  flex-direction: column;
  /*items인 것!! 블록사이 선이 축과 나란하다. 즉 교차축 입장에서는 한 줄인것! 따라서 items이다.*/
  align-items: center;
  background-color: green;
  color: white;
  height: 100px;
  /* 세로 가운데 정렬 */
  justify-content: center;
}

.card-body {
  padding: 18px;
}

.card-body-title {
  display: flex;
  /* 여기까지 한 후 메인축방향은 유지 */
  justify-content: space-between;
  /* 수평으로도 가운데, 블록 가운데선이 축과 방향이 같으니까 items */
  align-items: center;
}

.card-body-description {
  margin: 10px;
  padding: 10px;
  background-color: linen;
}

.card-footer {
  color: white;
  background-color: green;
  height: 50px;
  padding-right: 10px;
  font-weight: bold;
  /* 오른쪽 끝에 */
  /* text-align방법말고 flex를 사용해보자 */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*또는 flex-direction: row-reverse;*/
  
  

}